// Buttons

.button,
a.button,
.link-button,
.tweet .button,
.clicktocall .phone-number-link,
.userregistration fieldset .userregistrationbtn,
.contentgroup__link {
	cursor: pointer;
	position: relative;
	display: inline-block;
	border: 0.3em solid @color__button--border;
	padding: 0.5em 1.5em;
	height: auto !important;
	.appearance(none);
	.border-radius(0);
	.transition();
	background-color: @color__button--background;
	font-family: @font__button--font-family;
	font-weight: @font__button--font-weight;
	line-height: unit(@font__button--line-height*0.1, em);
	letter-spacing: @font__button--letter-spacing;
	color: @color__button--text;
	text-transform: uppercase;
	font-size: @font__button--font-size;
	word-break: break-all;
	text-align: center;

	.make-font-a-little-smaller(@font__button--font-size);
	.make-font-smaller(@font__button--font-size);
	.make-font-a-lot-smaller(@font__button--font-size);

	.style--light & {
		background-color: @color__button--background;
		border-color: @color__button--border;
		color: @color__button--text;
	}

	.style--accent & {
		background-color: @color--dark;
		border-color: @color--dark;
		color: @contrast--dark;
	}

	.style--dark & {
		background-color: @color--accent;
		border-color: @color--accent;
		color: @contrast--accent;
	}

	@media @mobile {
		width: 100%;
	}
	
	&:hover {
		.box-shadow(0px 10px 20px 0px fade(@color__p--text, 30%));
		border: 0.3em solid @color__button--background--hover;
		background-color: @color__button--background--hover;
		color: @color__button--text--hover;

		.style--light & {
			background-color: @color__button--background--hover;
			border-color: @color__button--background--hover;
			color: @color__button--text--hover;
		}

		.style--accent & {
			background-color: darken(@color--dark, 5%);
			border-color: darken(@color--dark, 5%);
			color: @contrast--dark;
		}

		.style--dark & {
			background-color: darken(@color--accent, 5%);
			border-color: darken(@color--accent, 5%);
			color: @contrast--accent;
		}
	}
	
	// Focus style for easier keyboard navigation
	
	&:focus {
		border: 0.3em solid @color__button--background--hover;

		.style--light & {
			border-color: @color__button--background--hover;
		}

		.style--accent & {
			border-color: darken(@color--dark, 5%);
		}

		.style--dark & {
			border-color: darken(@color--accent, 5%);
		}
	}
	
	// Active style for when you press a button down
	
	&:active {
		.box-shadow(none);
		border: 0.3em solid @color__button--background;

		.style--light & {
			border-color: @color__button--background;
		}

		.style--accent & {
			border-color: @color--dark;
		}

		.style--dark & {
			border-color: @color--accent;
		}
	}
	
	&[disabled] {
		cursor: default;
		opacity: 0.25;
		
		&:hover {
			.box-shadow(none);
		}
	}
}

.link-button,
.tweet .button,
.clicktocall .phone-number-link,
.dropbox .button,
.paypalbuynow .button {
	&:before,
	&:after {
		font-size: @font__button--font-size*1.5;
		font-weight: 400;
	
		.make-font-a-little-smaller(@font__button--font-size*1.5);
		.make-font-smaller(@font__button--font-size*1.5);
		.make-font-a-lot-smaller(@font__button--font-size*1.5);
	}
	
	&:before {
		margin-right: 0.5em;
		left: 1em;
	}
	
	&:after {
		margin-left: 0.5em;
		right: 1em;
	}
}

.dropbox .button {
	padding-left: 3.8em;
	word-break: normal;
	
	&:before {
		position: absolute;
		display: block;
		margin: 0;
	}
}

.widget[data-name="filedownload"] button {
	margin-right: 0.5em;
}

// Click to Call

.clicktocall label {
	margin-left: -0.5em;
}

// Dropbox

.dropbox__button,
.dropbox__label {
	display: table-cell;
	vertical-align: middle;
}

.dropbox__label {
	width: 100%;
	padding-left: 1em;
}

// Social Icons
.social-list {
	.social-item {
		cursor: pointer;
		margin: 0.5em 0.5em 0.5em 0;
		padding: 0;
		background-color: @color__socialicons--icon--background;
		width: 2.5em;
		height: 2.5em;

		.style--light & {
			background-color: @color__socialicons--icon--background;
		}

		.style--accent & {
			background-color: @color--dark;
		}

		.style--dark & {
			background-color: @color--accent;
		}
		
		&:hover {
			background-color: @color__socialicons--icon--background--hover;

			.style--light & {
				background-color: @color__socialicons--icon--background--hover;
			}

			.style--accent & {
				background-color: darken(@color--dark, 5%);
			}

			.style--dark & {
				background-color: darken(@color--accent, 5%);
			}
		}
		
		&:last-child {
			margin-right: 0;
		}
		
		.template__footer-container-left & {
			margin: 0.5em 0.5em 0.5em 0;
		
			@media @mobile {
				margin: 0.5em 0.25em;
			}
		}
		
		.template__footer-container-right & {
			margin: 0.5em 0 0.5em 0.5em;
		
			@media @mobile {
				margin: 0.5em 0.25em;
			}
		}
		
		.social-link {
			display: block;
			text-align: center;
			padding: 0;
		
			&:hover {
				text-decoration: none;
			}
		
			// Icon
		
			&:before {
				display: block;
				margin: 0 auto;
				padding: 0;
				line-height: 2.1em;
				font-size: 1.2em;
				color: @color__socialicons--icon;
			}
			
			&:hover:before {
				color: @color__socialicons--icon--hover;
			}
		}
	}
}

.widget button.btn span {
	color: @font-swatch7-color;

	.style--light & {
		color: @font-swatch7-color;
	}

	.style--accent & {
		color: @contrast--dark;
	}

	.style--dark & {
		color: @contrast--accent;
	} 
}

// The name of the button is not displayed.

.socialicons__social-name {
	display: none;
}