// ----------------------------------------
// Duotone: LESS > Widgets > Embeds
// ----------------------------------------
//
// #Google Maps
// #Soundcloud
// #YouTube
// #Disqus
// #Embed
// #LinkedIn Profile
// #LinkedIn Company Profile
//
// ----------------------------------------

// -----------------------------
// #Google Maps
// -----------------------------

.widget[data-name="map"] .map {
	background-color: @color__container--background;
	width: auto;
	max-width: none;
}

// -----------------------------
// #Soundcloud
// -----------------------------

// -----------------------------
// #YouTube
// -----------------------------

// -----------------------------
// #Disqus
// -----------------------------

// -----------------------------
// #Embed
// -----------------------------

// Vimeo embed
// This makes the video be full width.

.embed-content {
	iframe {
		width: 100%;
		
		&[src*="vimeo"] {
			height: 56.25vw;
		}
	}
}

// -----------------------------
// #LinkedIn Profile
// -----------------------------

// -----------------------------
// #LinkedIn Company Profile
// -----------------------------