// ----------------------------------------
// Duotone: LESS > Widgets > Navigation
// ----------------------------------------
//
// #Logo & Company Name
// #Navigation
// #Navigation Overlay
// #Navigation Body and Toggle Button
// #Navigation List
// #Navigation Items
// #Navigation Toggle
//
// ----------------------------------------

// ------------------------------
// #Logo & Company Name
// ------------------------------

.template__company {
	&,
	.widget {
		display: table-cell;
    	vertical-align: middle;
	}
}

.logo {
	padding-right: 20px;
	
	&__logo-image {
		max-height: 40px;
	}
}

.companyname {
    font-size: 0;
    line-height: 0;

	&__company-link {
		margin: 0;
		font-family: @font__companyname--font-family;
		font-size: @font__companyname--font-size;
		font-weight: @font__companyname--font-weight;
		line-height: font__companyname--line-height;
		letter-spacing: @font__companyname--letter-spacing;
		color: @color__companyname--text;
		text-transform: uppercase;

		&:hover {
			text-decoration: none;
		}
		@media @tablet-horizontal, @tablet {
			display: inline-block;
			vertical-align: middle;
		}
		@media @tablet {
			font-size: bkscale(@font__companyname--font-size, 0.8);
			line-height: bkscale(@font__companyname--line-height, 0.8);
		}
	}
}

// ------------------------------
// #Navigation
// ------------------------------

.template__navigation {
}

.widget[data-widget-type="extendednavigation"] {
	&.open {
		@media @tablet {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}
	}
}

// ------------------------------
// #Navigation Overlay
// ------------------------------

// Open Navigation Page Overlay that appears on
// tablet sizes.

.extendednavigation {
	@media @tablet {
		&:before {
			content: "";
			display: block;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: #000;
			opacity: 0;
			.transition(all, 0.5s, ease);
			height: 0;
		}

		&.open:before {
			height: auto;
			margin: 0 auto;
			background-color: @color__h1--text;
			opacity: 1;
		}
	}
}

// ------------------------------
// #Navigation Body and Toggle Button
// ------------------------------

// Navigation Body

.navigation-body {
	.transition(opacity, 0.8s, ease);
	
	@media @tablet {
		outline: 0;
		height: 0;
		width: 0;
		opacity: 0;
	}
	
	// When Navigation is open

	.open & {
		display: block;
		opacity: 1;
		width: auto;
		overflow: auto;
		position: fixed;
		right:0;
		top: 0;
		bottom: 0;
		left: 0;
		height: 100%;
		opacity: 1;

		@media @mobile {
			padding-bottom: 45px;
		}
	}
}

// Navigation Toggle Button

.navigation-toggle {
	display: none;
	
	@media @tablet {
		
		// Displays as Icon's Middle Bar
		
		.hardware-acceleration;
		.transition(all, 0.25s, ease-in-out);
		cursor: pointer;
		background-color: @color__feature-headline--text;
		background-clip: content-box;
		width: 47px;
		height: 47px;
		margin-left: auto;
		padding: 22px 10px;
		position: relative;
		text-indent: 200%;
		display: block;

		// Top and Bottom Navigation Item Bar

		&:after, &:before {
			content: "";
			height: 3px;
			width: 27px;
			position: absolute;
			display: block;
			background: @color__feature-headline--text;
			margin-right: 0;
			margin-left: 0;

			@media @mobile {
				height: 2px;
			}
		}

		// Top Bar
		
		&:before {
			top: 13px;
		}

		// Bottom Bar
		
		&:after {
			bottom: 13px;
		}
	}

	&:hover {
		opacity: .6;
	}

	// Toggle Button Open

	.open & {
		@media @tablet {
			
			// Middle bar
			
			position: relative;
			background-color: fade(@color-swatch7, 0%);
			
			// Top Bar

			&:before {
				top: 23px;
				background: @color__navigation--text;
				.transform-rotate(45deg);

				@media @mobile {
					top: 21px;
				}

			}
			
			// Bottom Bar

			&:after {
				bottom: 21px;
				background: @color__navigation--text;
				.transform-rotate(-45deg);
			}
			
		}
	}
}


// ------------------------------
// #Navigation List
// ------------------------------

.navigation-list {
	display: table;
    height: 100%;
    width: auto;
	
    @media @tablet {
		display: block;
		height: auto;
		max-width: 500px;
		margin: 13% auto 0;
		text-align: center;
	}

    @media @mobile {
    	margin-top: 20%;
    }
}

// ------------------------------
// #Navigation Items
// ------------------------------

// Vertically center aligning Item names

.template__navigation,
.widget[data-widget-type="extendednavigation"],
.extendednavigation,
.navigation-body {
	height: 100%;
}

// Navigation Normal Item

.navigation-item {
	display: table-cell;
    vertical-align: middle;
	position: relative;
	margin-bottom: 0;
	padding: 0;
	text-align: center;

	&, * {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
}

// Item name

.navigation-item {
	.item-name {
		.box-shadow(inset 0px 0px 0px 2px fade(@color__navigation--text, 0%));
		padding: 1em 1.5em;
		text-transform: uppercase;
		
		font-family: @font__navigation--font-family;
		font-size: @font__navigation--font-size;
		font-weight: @font__navigation--font-weight;
		line-height: @font__navigation--line-height;
		letter-spacing: @font__navigation--letter-spacing;
		color: @color__navigation--text;
		
		&:hover {
			color: @color__navigation--text;
		}

		@media @mobile {
			font-size: 15px;
		}
	}

	&.selected > .item-name {
		color: @color__navigation--text--selected;
	}

	&.selected:hover > .item-name {
		.box-shadow(none);
	}
}

// Navigation Folder Item

.navigation-list.folder {
	.transition(all, 0.15s, ease-in-out);

	// Open Folder Navigation Item

	&.open {
		margin-bottom: 30px;
	}
	
	// If the Folder has a Submenu

	&.item-name--parent {
		margin-left: .4em;
	}
}

// Folder Item Name

.navigation-item.folder {
	
	// Folder Icon
	
	> .item-name {
		&:after {
			content: "\f107";
			font-family: 'FontAwesome', sans-serif;
			margin-left: 0.4em;
			display: inline-block;
			width: 0.8em;
			height: 0.8em;
			line-height: 0.8em;
			text-align: center;
			// Folder icon animation
			.transform-rotate(-90deg);
			.transition(all, 0.15s, ease-in-out);
		}
	}

	// Selected Navigation Folder

	&.selected:hover > .item-name {
		.box-shadow(none);
	}

	// Open Navigation Folder

	&.folder-open > .item-name {
		color: @color__navigation--text--selected;

		&:after {

			// Folder icon animation

			.transform-rotate(0deg);
		}
	}
}

// Navigation Folder Submenu

.navigation-list--children {
	position: absolute;
	margin-top: 0;
	white-space: inherit;
	opacity: 0;
	padding-right: 0;
	background-color: darken(@color__h1--text, 3%);
	.transition(opacity, 0.5s, ease-in-out);
    overflow: visible;

	@media @tablet {
		padding-top: 0;
	}
}
.navigation-item--child {
    display: block;
    text-align: center;

	.item-name {
		text-overflow: ellipsis;
	}

	// Selected Folder Item

	&.selected .item-name {
		color: @color__navigation--text--selected;
	}
}

.navigation-item.folder {
	
	// Open Submenu
	
	&.folder-open:hover .navigation-list--children,
	&.folder-open .navigation-list--children {
		opacity: 1;
	}
}

