// ----------------------------------------
// Duotone: LESS > Widgets > Profile
// ----------------------------------------
//
// #Global Profile Styles
// #Company Strapline
// #Company Description
// #Company Address
// #Email Address
// #Company Phone
// #Business Name
// #Company Copyright
// #Twitter
// #Signup Form
// #Social Icons
//
// #Company Address Widget
//
// ----------------------------------------

// ------------------------------
// #Global Profile Styles
// ------------------------------

.profile {
     h1, h2, h3, p, a {
        position: relative;
        display: inline-block;
        padding: 0;
        .paragraph;
    }
}

// ------------------------------
// #Company Strapline
// ------------------------------

// ------------------------------
// #Company Description
// ------------------------------



// ------------------------------
// #Company Address
// ------------------------------

.profile {
    .address p {
        padding-left: 0.4em;
		
		&:first-child {
        	padding-left: 0;
		}

        &:after {
            position: absolute;
            top: 0;
            right: -6px;
            display: inline-block;
            content: ",";
        }

        &:last-child:after {
            display: none;
        }
    }
}

// ------------------------------
// #Email Address
// ------------------------------

// ------------------------------
// #Company Phone
// ------------------------------

// ------------------------------
// #Business Name
// ------------------------------

// ------------------------------
// #Company Copyright
// ------------------------------

// ------------------------------
// #Twitter
// ------------------------------

.profile {
    .tweet-item {
        width: 100%;
        background-color: transparent;
        padding: 0;
    }
    .tweet-content {
       padding: 0;
    }
}

.template__header {
    .profile {
        .avatar,
        .account-link,
        .tweet-metadata {
            display: none;
        }
		
        .tweet-content {
            a {
                color: lighten(@color__primary, 35%);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
	}
}

// ------------------------------
// #Signup Form
// ------------------------------

.profile {
    .form-body {
        .display-flex;
        .justify-content(center);
    }
    .form-group {
        margin-bottom: 0;
    }
    .label {
        display: none;
    }
}

.template__header {
    .profile {
        .signupform {
            margin-left: -20px;
            padding-bottom: 0;

            @media @mobile {
                max-height: 43px;
            }
        }

        .legend {
            display: none;
        }

        .form-body {
            .justify-content(inherit);
        }

        // Input
		
        .input,
        .button {
			.box-shadow(none);
            .feature__button;
            margin: 0;
            line-height: 40px;

            @media @mobile {
                border-top: 0;
                border-bottom: 0;
                border-left: 0;
                border-width: 1px;
                line-height: 43px;
            }
        }
		
        .input {
            max-width: 170px;
            margin-top: 0;

            @media @mobile {
                max-width: 140px;
            }
        }

        // Placeholder
		
        .input::-webkit-input-placeholder {
            opacity: .4;
            font-family: @font__h4--font-family;
            font-size: 13px;
            font-weight: 400;
            color: @color__companyname--text;
        }
        .input:-moz-placeholder {
            opacity: .4;
            font-family: @font__h4--font-family;
            font-size: 13px;
            font-weight: 400;
            color: @color__companyname--text;
        }
        .input:-ms-input-placeholder {
            opacity: .4;
            font-family: @font__h4--font-family;
            font-size: 13px;
            font-weight: 400;
            color: @color__companyname--text;
        }
        .input::-ms-input-placeholder {
            opacity: .4;
            font-family: @font__h4--font-family;
            font-size: 13px;
            font-weight: 400;
            color: @color__companyname--text;
        }

        // Button
        .button {
            position: relative;
            top: 1px;
            margin-top: 0;
            padding: 0 10px;
            border-left: 0;
        }
	}
}

// ------------------------------
// #Social Icons
// ------------------------------
		
.template__header {
    .profile {
		.social-item {
            margin-right: 16px;

            @media @mobile {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
		
        .social-link:before {
            width: auto;
            background-color: transparent;
            color: @color__companyname--text;
        }
	}
}