// Twitter Feed

// Twitter Widget Container

.widget[data-name="twitter"],
.widget[data-widget-type="twitter"],
.widget--twitter-background {
	background-color: @color__twitter--background;
}

.widget--twitter-background + .widget[data-name="twitter"],
.widget--twitter-background + .widget[data-widget-type="twitter"] {
	padding-top: 1em;
}

.widget--twitter-background {
	padding-bottom: 0;
}

// Tweet List

.twitter__tweet-list {
	.display-flex(flex);
	.flex-wrap(wrap);
	.item--margin-size--border();
	
	.responsivecolumns & {
		margin: 0;
	}
}

// Tweet Item

.tweet-item {
	position: relative;
	padding: 0;
	background-color: @color__twitter-item--background;
	.item--margin-size--2to1-cols();
	.clearfix();

	.style--light & {
		background-color: @color__twitter-item--background;
	}

	.style--accent &,
	.style--dark & {
		background-color: @color--light;
	}
	
	.responsivecolumns & {
		width: 100%;
		margin: 0 0 1em;
	}
}

// Avatar

.twitter__avatar {
	position: static;
	float: left;
	margin: 1.5em 1em 0 1.5em;
}

.twitter__avatar-image {
	display: block;
	width: unit(@font__p--line-height*0.1, em)*2;
	height: unit(@font__p--line-height*0.1, em)*2;
}

// Account Link

a.twitter__account-link {
	display: block;
	padding: 1.5em 1.5em 0 6.1em;
	min-height: 5.1em;
	.heading--4;
	font-size: @font__p--font-size;
	
	.make-font-a-little-smaller(@font__p--font-size);
	.make-font-smaller(@font__p--font-size);
	.make-font-a-lot-smaller(@font__p--font-size);

	.style--accent &,
	.style--dark & {
		color: @contrast--light;
	}
}

// Content

.tweet-content {
	padding: 1em 1.5em 5.5em;
	.tweet-content--spacing();

	.style--accent &,
	.style--dark & {
		color: fade(@contrast--light, 80%);
	}
	
	.responsivecolumns & {
		padding: 1em 1.5em 0;
	}
}

.tweet-content a {
	.style--accent &,
	.style--dark & {
		border-color: fade(@color--accent, 75%);
		color: @contrast--light;
	}
}

// Tweet Metadata

.tweet-metadata {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1.5em 1.5em 1em;
	line-height: 1em;
	font-size: @font__p--font-size;
	
	.make-font-a-little-smaller(@font__p--font-size);
	.make-font-smaller(@font__p--font-size);
	.make-font-a-lot-smaller(@font__p--font-size);
	
	.responsivecolumns & {
		position: static;
		display: block;
	}
	
	// Twitter link at the end.
	
	.via, a {
		font-family: @font__h4--font-family;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-size: 0.7em;
		color: fade(@color__p--text, 50%);

		.style--accent &,
		.style--dark & {
			color: fade(@contrast--light, 50%);
		}
	}

	a {
		border: none;
		background-color: transparent;
	}
}

// Timestamp

.twitter__timestamp {
	display: block;
	font-family: @font__h4--font-family;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 0.8em;

	.style--accent &,
	.style--dark & {
		color: fade(@contrast--light, 80%);
	}
}

// Conditional Mixins

.twitter-body-background--spacing() when not (@color__twitter--background = @color__body--background) {
	padding: 2em 0;
	
	section.column > &:first-child {
		margin-top: -2em;
		
		.responsivecolumns & {
			margin-top: 0;
		}
	}
}

.twitter-widget-background--spacing() when (@color__twitter--background = @color__twitter-item--background) {
	padding: 1em 0;
	
	.twitter__avatar {
		margin: 1em 1em 0 0;
		
		.responsivecolumns & {
			margin: 0 1em 0 0;
		}
	}
	
	a.twitter__account-link {
		padding: 1em 0 0;
		min-height: 4.6em;
		
		.responsivecolumns & {
			padding: 0;
		}
	}
	
	.tweet-content {
		padding: 1em 0 5em 0;
		
		.responsivecolumns & {
			padding: 0;
		}
		
		@media @mobile {
			padding: 1em 0 0;
		
			.responsivecolumns & {
				padding: 0;
			}
		}
	}
	
	.tweet-metadata {
		padding: 1.5em 0;

		@media @mobile {
			padding: 1.5em 0 2em;
		}
	}
}

.widget[data-name="twitter"],
.widget[data-widget-type="twitter"] {
	.twitter-body-background--spacing();
	.twitter-widget-background--spacing();
}