// ----------------------------------------
// Duotone: LESS > Main > Typography
// ----------------------------------------
//
// #Content Widget
// #General Typography
// #Bold, Italic, Underlined
// #Span
// #Link
// #Small
// #Pre
// #Code
// #Unordered and Ordered List
// #Block Quote
// #Highlighted Text
//
// ----------------------------------------

// ------------------------------
// #Content Widget
// ------------------------------

.content {
}

// ------------------------------
// #General Typography
// ------------------------------

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0.8em 0;
	
	+ h2, + h3, + h4, + h5, + h6 {
		padding-top: 0;
	}
}

h1, .heading--1 {
	font-family: @font__h1--font-family;
	font-size: @font__h1--font-size;
	font-weight: @font__h1--font-weight;
	line-height: @font__h1--line-height;
	letter-spacing: @font__h1--letter-spacing;
	color: @color__h1--text;

	@media @tablet {
		font-size: bkscale(@font__h1--font-size, 0.9);
		line-height: bkscale(@font__h1--line-height, 0.9);
		letter-spacing: bkscale(@font__h1--letter-spacing, 0.9);
	}

	@media @mobile {
		font-size: bkscale(@font__h1--font-size, 0.8);
		line-height: bkscale(@font__h1--line-height, 0.8);
		letter-spacing: bkscale(@font__h1--letter-spacing, 0.8);
	}
}

h2, .heading--2 {
	font-family: @font__h2--font-family;
	font-size: @font__h2--font-size;
	font-weight: @font__h2--font-weight;
	line-height: @font__h2--line-height;
	letter-spacing: @font__h2--letter-spacing;
	color: @color__h2--text;

	@media @tablet {
		font-size: bkscale(@font__h2--font-size, 0.9);
		line-height: bkscale(@font__h2--line-height, 0.9);
		letter-spacing: bkscale(@font__h2--letter-spacing, 0.9);
	}

	@media @mobile {
		font-size: bkscale(@font__h2--font-size, 0.8);
		line-height: bkscale(@font__h2--line-height, 0.8);
		letter-spacing: bkscale(@font__h2--letter-spacing, 0.8);
	}
}

h3, .heading--3 {
	font-family: @font__h3--font-family;
	font-size: @font__h3--font-size;
	font-weight: @font__h3--font-weight;
	line-height: @font__h3--line-height;
	letter-spacing: @font__h3--letter-spacing;
	color: @color__h3--text;

	@media @tablet {
		font-size: bkscale(@font__h3--font-size, 0.9);
		line-height: bkscale(@font__h3--line-height, 0.9);
		letter-spacing: bkscale(@font__h3--letter-spacing, 0.9);
	}

	@media @mobile {
		font-size: bkscale(@font__h3--font-size, 0.8);
		line-height: bkscale(@font__h3--line-height, 0.8);
		letter-spacing: bkscale(@font__h3--letter-spacing, 0.8);
	}
}

h4, .heading--4 {
	font-family: @font__h4--font-family;
	font-size: @font__h4--font-size;
	font-weight: @font__h4--font-weight;
	line-height: @font__h4--line-height;
	letter-spacing: @font__h4--letter-spacing;
	color: @color__h4--text;
	text-transform: uppercase;

	@media @tablet {
		font-size: bkscale(@font__h4--font-size, 0.9);
		line-height: bkscale(@font__h4--line-height, 0.9);
		letter-spacing: bkscale(@font__h4--letter-spacing, 0.9);
	}

	@media @mobile {
		font-size: bkscale(@font__h4--font-size, 0.8);
		line-height: bkscale(@font__h4--line-height, 0.8);
		letter-spacing: bkscale(@font__h4--letter-spacing, 0.8);
	}
}

h5, .heading--5 {
	padding: 0.4em 0;
	font-family: @font__h4--font-family;
	font-size: @font__h4--font-size;
	font-weight: @font__h4--font-weight;
	line-height: @font__h4--line-height;
	letter-spacing: bkscale(@font__h4--letter-spacing, 0.8);
	color: @color__h4--text;

	@media @tablet {
		font-size: bkscale(@font__h4--font-size, 0.9);
		line-height: bkscale(@font__h4--line-height, 0.9);
		letter-spacing: bkscale(@font__h4--letter-spacing, 0.7);
	}

	@media @mobile {
		font-size: bkscale(@font__h4--font-size, 0.8);
		line-height: bkscale(@font__h4--line-height, 0.8);
		letter-spacing: bkscale(@font__h4--letter-spacing, 0.6);
	}
}

h6, .heading--6 {
	padding: 0.2em 0;
	font-family: @font__h4--font-family;
	font-size: bkscale(@font__h4--font-size, 0.8);
	font-weight: @font__h4--font-weight;
	line-height: bkscale(@font__h4--line-height, 0.8);
	letter-spacing: bkscale(@font__h4--letter-spacing, 0.8);
	color: @color__h4--text;

	@media @tablet {
		font-size: bkscale(@font__h4--font-size, 0.7);
		line-height: bkscale(@font__h4--line-height, 0.7);
		letter-spacing: bkscale(@font__h4--letter-spacing, 0.7);
	}

	@media @mobile {
		font-size: bkscale(@font__h4--font-size, 0.6);
		line-height: bkscale(@font__h4--line-height, 0.6);
		letter-spacing: bkscale(@font__h4--letter-spacing, 0.6);
	}
}

p, .paragraph, label {
	font-family: @font__p--font-family;
	font-size: @font__p--font-size;
	font-weight: @font__p--font-weight;
	line-height: @font__p--line-height;
	letter-spacing: @font__p--letter-spacing;
	color: @color__p--text;

	@media @tablet {
		font-size: bkscale(@font__p--font-size, 0.9);
		line-height: bkscale(@font__p--line-height, 0.9);
		letter-spacing: bkscale(@font__p--letter-spacing, 0.9);
	}

	@media @mobile {
		font-size: bkscale(@font__p--font-size, 0.8);
		line-height: bkscale(@font__p--line-height, 0.85);
		letter-spacing: bkscale(@font__p--letter-spacing, 0.8);
	}
}

// ------------------------------
// #Bold, Italic, Underlined
// ------------------------------

b, strong {
	font-weight: 900;
}

u {
	text-decoration: none;
	border-bottom: 1px solid;
}

// ------------------------------
// #Span
// ------------------------------

span {
	background-color: transparent;
	color: @color__p--text;
}

// ------------------------------
// #Link
// ------------------------------

a {
	display: inline-block;
	color: @color__p--text;
	line-height: 1.5em;
	overflow: visible;
	border-bottom: 4px solid fade(@color__link--text, 80%);
	background-color: transparent;
	margin: -2px -2px -4px;
	padding: 0 2px;
	height: auto;
	.transition(all, 0.15s, ease-in);

    &, &:hover {
        text-decoration: none;
    }
	
	&:hover {
		background-color: fade(@color__link--text, 60%);
		border-bottom: 4px solid fade(@color__link--text, 80%);
		.transition(all, 0.15s, ease-in);
	}
}

a[class] {
    &, &:hover {
		border-bottom: none;
		margin: 0;
		padding: 0;
		height: auto;
		background-color: transparent;
    }
}

// ------------------------------
// #Small
// ------------------------------

small {
	color: @color__p--text;
}

// ------------------------------
// #Preformatted Text and Code
// ------------------------------

pre, code {
	display: block;
	margin: 1em 0;
	padding: 1em 1.5em;
	border: none;
	.border-radius(0);
	background-color: fade(@color__p--text, 10%);
	overflow: auto;
	
	.paragraph;
	font-family: monospace;
}

code {
	border-left: 10px solid @color__link--text;
	background-color: fade(@color__p--text, 10%);
}

// ------------------------------
// #Unordered and Ordered List
// ------------------------------

ul, ol {
	li {
		.paragraph;
	}
}

ul {
	margin: 0 0 0 1.2em;
	padding: 0;

	li {
		padding: 0 0 0 0.5em;
		margin: 0 0 1em 0;

		@media @tablet {
			padding-left: 0;
		}
	}
}

ol {
	margin: 1em 0;
	padding-left: 0;
	counter-reset: ordered-counter;

	li {
		position: relative;
		padding-left: 3em;
		margin-bottom: 1em;
		list-style-type: none;

		@media @tablet {
			padding-left: 2.5em;
		}

		// Custom Numbers

		&:before {
			min-width: 2em;
			padding: 0 0.4em 0 0;
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			.box-sizing(border-box);
			border-right: 1px solid fade(@color__p--text, 20%);
			font-family: @font__h1--font-family;
			content: counter(ordered-counter);
			counter-increment: ordered-counter;
			text-align: left;
		}
	}
}

// ------------------------------
// #Block Quote
// ------------------------------

blockquote {
	position: relative;
	margin: 1.8em auto 1em;
	text-align: center;
	padding: 1.5em 50px;
	width: 70%;
	font-family: @font__p--font-family;
	font-size: bkscale(@font__p--font-size, 1.5);
	line-height: bkscale(@font__p--line-height, 1.5);
	font-style: italic;
	
	@media @tablet-horizontal {
		width: 80%;
	}
	
	@media @tablet {
		font-size: bkscale(@font__p--font-size, 1.2);
		line-height: bkscale(@font__p--line-height, 1.2);
		width: auto;
	}
	
	&:before,
	&:after {
		position: absolute;
		content: "";
		border-bottom: 10px solid fade(@color__p--text, 10%);
		width: 100%;
	}
	
	&:before {
		top: 0;
		left: 0;
	}
	
	&:after {
		right: 0;
		bottom: 0;
	}
	
	.responsivecolumns & {
		width: 100%;
	}
	
	.columns-four-first &,
	.columns-four-second &,
	.columns-four-third &,
	.columns-four-fourth & {
		padding-right: 0;
		
		&:after {
			display: none;
		}
	}
}

// ------------------------------
// #Highlighted Text
// ------------------------------

::-moz-selection {
    background: fade(@color__link--text, 20%);
}

::selection {
    background: fade(@color__link--text, 20%);
}