// Typography

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 1em 0 0.2em;
	
	+ h2, + h3, + h4, + h5, + h6, [class*="contentgroup__h"], [class*="contentgroup__h"] & {
		padding-top: 0;
	}
}

h1, h2, h3, h4, h5, h6, [class*="contentgroup__h"] {
	.style--light & {
		color: @contrast--light;
	}

	.style--accent & {
		color: @contrast--accent;
	}

	.style--dark & {
		color: @contrast--dark;
	}
}

h1, h2, h3, h4, h5, h6, p, a {
	word-break: break-word;
}

h1, .heading--1, .contentgroup__h1 {
	font-family: @font__h1--font-family;
	font-weight: @font__h1--font-weight;
	font-size: @font__h1--font-size;
	line-height: unit(@font__h1--line-height*0.1, em);
	letter-spacing: @font__h1--letter-spacing;
	color: @color__h1--text;
	
	.make-font-a-little-smaller(@font__h1--font-size);
	.make-font-smaller(@font__h1--font-size);
	.make-font-a-lot-smaller(@font__h1--font-size);
}

h2, .heading--2, .contentgroup__h2 {
	font-family: @font__h2--font-family;
	font-weight: @font__h2--font-weight;
	font-size: @font__h2--font-size;
	line-height: unit(@font__h2--line-height*0.1, em);
	letter-spacing: @font__h2--letter-spacing;
	color: @color__h2--text;
	
	.make-font-a-little-smaller(@font__h2--font-size);
	.make-font-smaller(@font__h2--font-size);
	.make-font-a-lot-smaller(@font__h2--font-size);
}

h3, .heading--3, .contentgroup__h3 {
	font-family: @font__h3--font-family;
	font-size: @font__h3--font-size;
	font-weight: @font__h3--font-weight;
	line-height: unit(@font__h3--line-height*0.1, em);
	letter-spacing: @font__h3--letter-spacing;
	color: @color__h3--text;
	
	.make-font-a-little-smaller(@font__h3--font-size);
	.make-font-smaller(@font__h3--font-size);
	.make-font-a-lot-smaller(@font__h3--font-size);
}

h4, .heading--4, .contentgroup__h4 {
	font-family: @font__h4--font-family;
	font-weight: @font__h4--font-weight;
	font-size: @font__h4--font-size;
	line-height: unit(@font__h4--line-height*0.1, em);
	letter-spacing: @font__h4--letter-spacing;
	color: @color__h4--text;
	text-transform: uppercase;
	
	.make-font-a-little-smaller(@font__h4--font-size);
	.make-font-smaller(@font__h4--font-size);
	.make-font-a-lot-smaller(@font__h4--font-size);
}

h5, .heading--5, .contentgroup__h5 {
	font-family: @font__h4--font-family;
	font-weight: @font__h4--font-weight;
	font-size: @font__h4--font-size;
	line-height: unit(@font__h4--line-height*0.1, em);
	letter-spacing: @font__h4--letter-spacing;
	color: @color__h4--text;
	
	.make-font-a-little-smaller(@font__h4--font-size, 0.9);
	.make-font-smaller(@font__h4--font-size);
	.make-font-a-lot-smaller(@font__h4--font-size);
}

h6, .heading--6, .contentgroup__h6 {
	padding-bottom: 0.2em;
	font-family: @font__h4--font-family;
	font-weight: @font__h4--font-weight;
	font-size: @font__h4--font-size*0.8;
	line-height: unit(@font__h4--line-height*0.1, em);
	letter-spacing: @font__h4--letter-spacing*0.8;
	color: @color__h4--text;
	
	.make-font-a-little-smaller(@font__h4--letter-spacing*0.8);
	.make-font-smaller(@font__h4--letter-spacing*0.8);
	.make-font-a-lot-smaller(@font__h4--letter-spacing*0.8);
}

// Normal Text

p, .paragraph, ul, ol, li, .contentgroup__body {
	font-family: @font__p--font-family;
	font-size: @font__p--font-size;
	font-weight: @font__p--font-weight;
	line-height: unit(@font__p--line-height*0.1, em);
	letter-spacing: @font__p--letter-spacing;
	color: @color__p--text;
	
	.make-font-a-little-smaller(@font__p--font-size);
	.make-font-smaller(@font__p--font-size);
	.make-font-a-lot-smaller(@font__p--font-size);
	
	.style--light & {
		color: @contrast--light;
	}

	.style--accent & {
		color: @contrast--accent;
	}

	.style--dark & {
		color: @contrast--dark;
	}
}

// Normal Text

.widget.content,
.widget.content.in-editing {
	.wysihtml-editor-content,
	.embed-content {
		font-size: @font__p--font-size !important;
		line-height: unit(@font__p--line-height*0.1, em) !important;
	
		.make-font-a-little-smaller(@font__p--font-size, ~"!important");
		.make-font-smaller(@font__p--font-size, ~"!important");
		.make-font-a-lot-smaller(@font__p--font-size, ~"!important");
	
		&, p, span, small, pre, code,
		table, th, td {
			color: @color__p--text;
		
			.style--light & {
				color: @contrast--light;
			}
		
			.style--accent & {
				color: @contrast--accent;
			}
		
			.style--dark & {
				color: @contrast--dark;
			}
		}
	}
}

// Paragraph

p, .paragraph {
	padding: 0.2em 0;
}

// Bold, Italic, Underlined

b, strong {
	font-weight: 900;
}

u {
	text-decoration: none;
	border-bottom: 1px solid;
}

// Label

label,
.label,
.label-text,
label:not(.clicktocall__label) {
	font-family: @font__h4--font-family;
	color: @color-text--faded;
	word-wrap: normal;

	.style--light & {
		color: fade(@contrast--light, 80%);
	}

	.style--accent & {
		color: fade(@contrast--accent, 80%);
	}

	.style--dark & {
		color: fade(@contrast--dark, 80%);
	}
}

.widget[data-name="content"]:first-child,
.widget[data-widget-type="content"]:first-child {
	h1:first-child,
	h2:first-child,
	h3:first-child,
	h4:first-child,
	h5:first-child,
	h6:first-child,
	p:first-child {
		padding-top: 0;
	}
}

// Links

a, .links {
	display: inline;
	color: @color__p--text;
	overflow: visible;
	border-bottom: 0.3em solid @color-highlight--light;
	background-color: transparent;
	margin: 0;
	padding: 0;
	height: auto;
	text-decoration: none;
	.transition();

	.style--light & {
		border-color: @color--accent;
		color: @contrast--light;
	}

	.style--accent & {
		border-color: @color--dark;
		color: @contrast--accent;
	}

	.style--dark & {
		border-color: @color--accent;
		color: @contrast--dark;
	}

	&, &:hover {
		text-decoration: none;
	}
	
	&:hover {
		background-color: fade(@color__link--text, 40%);
		border-bottom: 0.3em solid @color-highlight--light;

		.style--light & {
			background-color: fade(@color--accent, 40%);
			border-color: @color--accent;
			color: @contrast--accent;
		}

		.style--accent & {
			background-color: fade(@color--dark, 40%);
			border-color: @color--dark;
			color: @contrast--dark;
		}

		.style--dark & {
			background-color: fade(@color--accent, 40%);
			border-color: @color--accent;
			color: @contrast--accent;
		}
	}

	&[class] {
		&, &:hover {
			border-bottom: none;
			background-color: transparent;
		}
	}
}

ul {
	margin: 0.5em 0 0.5em 1.2em;
	padding: 0;

	li {
		padding: 0 0 0 0.5em;
		margin: 0 0 0.5em 0;

		@media @tablet {
			padding-left: 0;
		}
	}
}

.bk-zone ol {
	margin: 0.5em 0;
	padding-left: 0;
	counter-reset: ordered-counter;

	li {
		position: relative;
		padding-left: 3em;
		margin-bottom: 0.5em;
		list-style-type: none;

		&:before {
			min-width: 2em;
			padding: 0 0.4em 0 0;
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			.box-sizing();
			border-right: 1px solid @color-text--lighter;
			font-family: @font__h1--font-family;
			content: counter(ordered-counter);
			counter-increment: ordered-counter;
			text-align: left;
		}
	}
}

// Preformatted and Code Text

pre, code {
	display: block;
	margin: 1em 0;
	padding: 1em 1.5em;
	border: none;
	.border-radius(0);
	background-color: @color-text--lightest;
	overflow: auto;
	font-family: monospace;

	.style--light & {
		background-color: fade(@contrast--light, 10%);
	}

	.style--accent & {
		background-color: fade(@contrast--accent, 10%);
	}

	.style--dark & {
		background-color: fade(@contrast--dark, 10%);
	}
}

code {
	border-left: 0.5em solid @color-highlight;

	.style--light & {
		border-color: @contrast--light;
	}

	.style--accent & {
		border-color: @contrast--accent;
	}

	.style--dark & {
		border-color: @contrast--dark;
	}
}

// Blockquote

blockquote {
	position: relative;
	margin: 0 auto 1em;
	text-align: center;
	padding: 1.5em 2.5em;
	word-break: break-word;
	width: 70%;
	line-height: unit(@font__p--line-height*0.1, em);
	font-size: 1.5em;
	font-family: @font__p--font-family;
	font-style: italic;

	.style--light & {
		color: @contrast--light;
	}

	.style--accent & {
		color: @contrast--accent;
	}

	.style--dark & {
		color: @contrast--dark;
	}
	
	span {
		display: inline-block;
		line-height: unit(@font__p--line-height*0.1, em);
	}
	
	@media @tablet-horizontal {
		width: @layout-width-desktop;
	}
	
	@media @tablet {
		width: auto;
	}
	
	&:before,
	&:after {
		position: absolute;
		content: "";
		border-bottom: 0.5em solid @color-text--lightest;
		width: 100%;
		font-size: @font__p--font-size;

		.make-font-a-little-smaller(@font__p--font-size);
		.make-font-smaller(@font__p--font-size);
		.make-font-a-lot-smaller(@font__p--font-size);

		.style--light & {
			border-color: darken(@color--light, 10%);
		}

		.style--accent & {
			border-color: darken(@color--accent, 10%);
		}

		.style--dark & {
			border-color: fade(@color--light, 10%);
		}
	}
	
	&:before {
		top: 0;
		left: 0;
	}
	
	&:after {
		right: 0;
		bottom: 0;
	}
	
	.responsivecolumns & {
		width: auto;
		max-width: none;
		margin-top: 0.5em;
	}
}

::-moz-selection {
	background: @color-highlight--lighter;

	.style--light & {
		background: fade(@color--dark, 5%);
	}

	.style--accent & {
		background: fade(@contrast--accent, 5%);
	}

	.style--dark &,
	.style--background-image {
		background: fade(@contrast--light, 5%);
	}
}

::selection {
	background: @color-highlight--lighter;

	.style--light & {
		background: fade(@color--dark, 5%);
	}

	.style--accent & {
		background: fade(@contrast--accent, 5%);
	}

	.style--dark &,
	.style--background-image {
		background: fade(@contrast--light, 5%);
	}
}

.icon:before {
	margin-right: 0.5em;
}

.icon:after {
	margin-left: 0.5em;
}