<!-- Header -->
<header class="template-header">
	<div class="flex-item">
		{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
		{{widget('companyname', 'companyname', {
			"business": "profile",
			"showTplWidget":"0"
		})|raw}}
	</div>
	<div class="flex-item">
		<div class="template-navigation">
			{{widget('extendednavigation', 'extendednavigation', {"align":"center"})|raw}}
		</div>
	</div>
</header>
